#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.alert{
  color:red;
}

form{
  padding: 30px;
  background:rgb(255, 255, 255);
  width: 300px;
  
}

button{
  width:310px;
}

body{
  background:#6a6a6a;
  display: flex;
}

input{
  width:300px;
  height: 30px;
  border-radius: 2px;
  background-color: #eaeaea;
  border: none;
  padding: 7px;
}